.container.row {
    padding: 10px;
    margin: 10px;
}

.navbar-fixed {
    margin-bottom: 20px;
}

#capital {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

#country {
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    font-size: 100px;
}

#language {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

#population {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

p {
    font-color: grey;
    font-size: 16px;
}