<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}"/>

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{/site.css}"/>

    <title th:text="'Country | ' + ${country.name}">Country</title>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="container">
            <a th:href="@{/}" class="brand-logo">Countries of The World!</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a th:href="@{/country/Canada}">Favorite</a></li>
            </ul>
        </div>
    </nav>
</div>
<div>
    <h1 id="country" th:text="${country.name}">Country</h1>
    <p>Population</p>
    <h3 id="population" th:text="${country.population}">Population</h3>
    <p>Capital City</p>
    <h3 id="capital" th:text="${country.capitalCity}">Capital</h3>
    <p>Official Language(s)</p>
    <h3 id="language" th:text="${country.officialLanguages}">Languages</h3>

</div>
<div class="country-detail container">
    <div class="frame row">
        <div class="col s12">
            <img th:src="@{'/flags/' + ${country.flag} + '.png'}" alt="png"/>
        </div>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>